/* @import "tailwindcss"; */
html {
  font-size: max(16px, 1vw);
}

body {
  margin: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", serif;
  font-weight: 700;
  font-style: normal;
}

.main-header{
  padding: 2em;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.velo-popup {
  display: none;
  background-color: rgba(44, 12, 67, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 5;
  pointer-events: none;
}
.velo-popup.active {
  display: flex;
}

.popup {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1vw;
  padding: 4vw;
  margin: 4vw;
  display: none;
}
.popup.active {
  display: block;
}
.popup .logo {
  width: 100%;
  max-width: 10em;
  margin: 0 auto;
}
.popup .close-popup {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.tooltip-3d {
  position: absolute;
  transform: translate(-50%, -200%);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}