/*
 STYLES INDEX - BUTTON
 =========================
 
 1. BUTTON COMPONENTS
    1-1. Button containers
    1-2. Primary button
    1-3. Button base
*/

// ========================================
// 1. BUTTON COMPONENTS
// ========================================

// 1-1. Button containers
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    gap: .5em;
}

// 1-2. Primary button
.btn-primary {
    padding: .5em 1em;
    border: 1px solid var(--color-text);
    color: var(--color-bg);
    background-color: var(--color-text);
    border-radius: 10px;
    font-size: max(19px, 1vw);
    cursor: pointer;
}

// 1-3. Button base
.btn {
    display: inline-flex;
    background: var(--color-text);
    color: var(--color-white);
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1em;
    line-height: 1.2em;
    font-family: var(--font-family-base);
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
        background: #222;
        outline: none;
    }
    
    &:focus-visible {
        outline: 3px solid var(--color-link);
        outline-offset: 2px;
    }
}

