/*
 STYLES INDEX - GALLERY
 =========================
 
 1. GALLERY COMPONENTS
    1-1. Gallery 2 columns
    1-2. Gallery 4 columns
*/

// ========================================
// 1. GALLERY COMPONENTS
// ========================================

// 1-1. Gallery 2 columns
.gallery-2 {
    display: grid;
    gap: 1em;
    
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    
    img {
        width: 100%;
        border-radius: .5em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        object-fit: cover;
    }
}

// 1-2. Gallery 4 columns
.gallery-4 {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
    
    img {
        width: 100%;
        border-radius: .5em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        object-fit: cover;
    }
}

