/*
 STYLES INDEX - SOFTWARE LIST
 =========================
 
 1. SOFTWARE LIST
    1-1. Software list base
    1-2. Software list wrapper footer
    1-2. Software list Iten active
*/

// ========================================
// 1. SOFTWARE LIST
// ========================================

// 1-1. Software list base
.software-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    &:last-child{
        margin-bottom: 2em;
    }
    li {
        background-color: var(--color-white);
        color: var(--color-text);
        border: 1px solid var(--color-gray);
        border-radius: .5em;
        font-size: 1.8em;
        padding: 0.2em;
        @media (min-width: 768px) {
            padding: 0.85em;
        }
        width: 1.5em;
        height: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: help;
        &.tooltip[aria-label]::after{font-size: .5em;}
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transition: all 0.3s ease;
        &:hover{
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }
    }
}

// 1-2. Software list wrapper footer
.software-list-wrapper-footer {
    padding: 0;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .software-list{
        padding-left: 1em;
        padding-right: 1em;
    }
}
.clients-list { 
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    li {
        background-color: rgba(#fff, 0.2);
        color: var(--color-text);
        border-radius: 1em;
        padding: 0.2em 1em;
    }
}