/*
 STYLES INDEX - BASE STYLES
 =========================
 
 1. BASE STYLES
    1-1. HTML
    1-2. Body
    1-3. Images
*/

// ========================================
// 1. BASE STYLES
// ========================================

// 1-1. HTML
html {
    font-size: max(16px, 1vw);
    background-color: var(--color-bg);
    color: var(--color-text);
    // Prevent zoom on iOS
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

// 1-2. Body
body {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100svh;
        &.initial-state {
            align-items: center;
            justify-content: center;
        }
    }
    justify-content: center;
    margin: 0;
    font-family: var(--font-family-base);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
}
main {
    flex: 1;
}
// 1-3. Images
img,
video {
    max-width: 100%;
}

