/*
 STYLES INDEX - SECTIONS
 =========================
 
 1. SECTION COMPONENTS
    1-1. Section base
    1-2. Section 1 - Index
    1-3. Section 2 - Portfolio
    1-4. Section 3
    1-5. Section 4
    1-6. Section 5
    1-7. Parallax layers
    1-8. Canvas 3D
*/

// ========================================
// 1. SECTION COMPONENTS
// ========================================

// 1-1. Section base
.section {
    padding: 0;
    @media screen and (min-width: 768px) {
        padding: 3.5em 0 1em;
    }
    position: relative;
    overflow: hidden;
    width: 100%;
    &:last-child {
        min-height: 100vh;
    }
    
    // Override section styles when section is also a popup
    &.popup {
        padding: 0; // Remove section padding, popup has its own padding
        overflow: visible; // Allow popup content to be visible
        margin: 4vw auto; // Center horizontally, keep vertical margin
    }
    
    .container {
        position: relative;
        z-index: 1;
        @media screen and (min-width: 768px) {
            margin: 0 auto;
            padding: 2em;
        }
        
        @media screen and (max-width: 767px) {
            padding: 1em;
        }
    }
}
.section-width{
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
// 1-2. Section 1 - Index
.section--1 {
    background: #4d6a6b;
    min-height: initial;
    padding-bottom: 0;
    color: #fff;
    
    .container {
        padding: 0 1em 0 0;
        width: 100%;
        .content-txt {
            padding: 1.5em;
        }
        > div{
            display: grid;
            margin: 0 auto;
            strong {
                font-size: 1.5em;
            }
            @media screen and (min-width: 1150px) {
                display: block;
                .lureka-caricatura {
                    float: left;
                    shape-outside: url(/images/lureka-caricatura-shape.png);
                    -webkit-shape-outside: url(/images/lureka-caricatura-shape.png);
                    shape-image-threshold: 0.5;
                    shape-margin: 2vw;
                }
                h1{
                    margin-top: 8vh;
                    font-size: max(30px, 2vw);
                }
            }
            @media screen and (min-width: 1809px) {
                max-width: 70vw;
            }
            h2 {
                margin-bottom: 0;
                
                + p {
                    margin: 0;
                }
            }
            
            img {
                transition: all 3s ease-out;
                opacity: 0;
                max-width: 100vw;
                grid-row-start: 2;
                object-fit: cover;
                object-position: top left;
                aspect-ratio: 1/1;
                &.active{
                    opacity: 1;
                }
                @media screen and (min-width: 1150px) {
                    max-width: 40vw;
                    margin-bottom: -.5em;
                    aspect-ratio: initial;
                }
                @media screen and (min-width: 1500px) {
                    aspect-ratio: 1/1;
                }
                @media screen and (min-width: 2300px) {
                    aspect-ratio: initial;
                }
            }
            .buttons{
                font-size: 1.3em;
                @media screen and (min-width: 768px) {
                    justify-content: start;
                    font-size: 1.5em;
                }
                margin-bottom: 1em;
            }
        }
    }
}

// 1-3. Section 2 - Portfolio
.section--2 {
    background: #222222;
    color: var(--color-white);
    .content-txt {
        padding: 0;
    }
}

// 1-4. Section 3
.section--3 {
    background: var(--color-link);
    color: var(--color-text);
    a:not(.btn){
        color: var(--color-text);
        text-decoration: underline;
    }
    .container {
        @media screen and (min-width: 1280px) {
            max-width: 65em;
        }
        margin: 0 auto;
        
    }
}
.section--4 {
    @extend .section--3;
    padding-top: 0;
    background: #dbd3c8;
}

// 1-7. Parallax layers
.parallax-background,
.parallax-foreground {
    position: absolute;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
    font-size: 1.5em;
}
.parallax-img {
    width: 100vw;
    opacity: 0.3;
}

.parallax-background {
    z-index: 0;
    font-weight: bold;
}

.parallax-foreground {
    z-index: 0;
    font-weight: bold;
}

// 1-8. Canvas 3D
canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}