/*
 STYLES INDEX - SKIP LINK
 =========================
 
 1. SKIP LINK
    1-1. Skip link base
    1-2. Skip link focus state
*/

// ========================================
// 1. SKIP LINK
// ========================================

// 1-1. Skip link base
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #fff;
    padding: .5em 1em;
    z-index: 100;
    text-decoration: none;
    
    /* Hidden visually but still accessible */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

// 1-2. Skip link focus state
.skip-link:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    width: auto;
    top: 0;
}

