/*
 STYLES INDEX - SCREEN READER ONLY
 =========================
 
 1. SCREEN READER UTILITIES
    1-1. Screen reader only
    1-2. Visually hidden
*/

// ========================================
// 1. SCREEN READER UTILITIES
// ========================================

// 1-1. Screen reader only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// 1-2. Visually hidden
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

